.admin-container {
  width: 80%;
  margin: 20px auto;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.062);
  border-radius: 10px;
  overflow: hidden;
  max-width: 1500px;
  padding: 40px 10px;
}

@media (max-width: 767px) {
  .admin-container {
    width: 95%;
  }
}

.admin-box-title{
    font-size: 1.3rem;
    font-weight: bold;
    color: gray;
    display: flex;
    justify-content: space-between;
}
