
.profile{
    position: relative;
    z-index: 1000;
  }
  .logout{
    position: absolute;
    bottom: -100px;
    width: 150px;
    height: 100px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 600;
    left: 0px;
    background-color: white;
  }
  .logout P:hover{
    width: 90%;
    height: 35px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .profile:hover .logout{
    display: flex;
  }