.profile-container {
  width: 80%;
  margin: 20px auto;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.062);
  border-radius: 10px;
  overflow: hidden;
  max-width: 1500px;
}

@media (max-width: 767px) {
  .profile-container{
    width: 95%;
  }
}

.profile-header {
  text-align: center;
  position: relative;
  padding-bottom: 60px;
}

.profile-background {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.profile-avatar-container {
  position: absolute;
  top: 250px;
  left: 20px;
}

.profile-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #fff;
}

.profile-name {
  width: 100%;
  height: 80px;
  padding-left: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-name-full {
  font-size: 1.4rem;
  font-weight: bold;
  width: 100%;
  display: flex;
}

.profile-name-span {
  font-size: 1rem;
  color: grey;
  width: 100%;
  display: flex;
}

.profile-box {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  gap: 10px;
}

.profile-box-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: grey;
}

.profile-box-content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.profile-box-content-item {
  width: calc(50% - 5px);
}

.profile-box-content-item input {
  outline: none;
  border: 0.1px solid rgba(128, 128, 128, 0.11);
  height: 50px;
  padding: 0px 10px;
  width: 100%;
}

.profile-box-content-item button {
  width: 105px;
  height: 48px;
  margin-left: 5px;
  border: 0.1px solid rgba(128, 128, 128, 0.11);
  background-color: rgb(23, 143, 255);
  color: white;
  box-shadow: 0px 0px 4px 0.1px grey;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}
.profile-box-content-button {
  display: flex;
  justify-content: flex-end;
  width: 100% !important;
}

.profile-box-container {
  justify-content: center;
}

.profile-box-content-book {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 6px 0.1px rgba(128, 128, 128, 0.295);
  border-radius: 10px;
  padding: 15px 10px;
}

.profile-box-content-book .u-btn {
  width: 100%;
}
